**/node_modules
**/build
**/dist
**/.env
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.vscode
**/*.swp
**/.DS_Store
**/.idea
**/coverage
**/Thumbs.db
**/ehthumbs.db
**/*.log
**/logs
**/*.pid
**/*.seed
**/*.pid.lock
**/*.config.ts